{{!-- footer content --}}
<footer class="mastfoot mt-auto">
  <div class="inner">
    <p>Lorem ipsum dolor <a href="#">sit amet</a>, consectetur <a href="#">adipisicing</a> elit.</p>
  </div>
</footer>