{{!-- header and navigator menu --}}
<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">LOGO</h3>
    <!-- Comentario que se ve -->
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link {{ htmlWebpackPlugin.options.menu1 }}" href="index.html">Home</a>
      <a class="nav-link {{ htmlWebpackPlugin.options.menu2 }}" href="item1.html">Item1</a>
      <a class="nav-link {{ htmlWebpackPlugin.options.menu3 }}" href="item2.html">Item2</a>
    </nav>
  </div>
</header>